.recommendations-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 100vw;
  /* height: 100vh; */
  /* background-color: #0056b3 */
}

.recommendation-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  color: black;
  /* background-color: thistle; */
  /* height: 10rem; */
}

.recommendation-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  width: 8rem;
}

.recommendation-card h2 {
  font-size: 0.9em;
  margin: 8px 0;
}

.recommendation-card button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.recommendation-card button:hover {
  background-color: #0056b3;
}

.button-container{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}